@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.card{
    width: 400px;
    margin: 1rem 0.5rem;
    padding: 0rem;
    height: 330px;
}
.peopleDiv{
    height: 370px;
    overflow-x: auto;
}
.title{
    font-family: 'Lobster', cursive;
    color: red;
}

div span {
    margin-right: 4rem;
}
